.list-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
